.img_cont {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img_cont img {
    height: -webkit-fill-available;
}

.resp_img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    max-height: 360px;
}

.footer_img {
    max-height: 60px;
}

    .logo_luigi_img {
        max-height: 160px;
        border-radius: 50%;
        z-index: 9999;
        /* transform: translate(calc((50dvw - 460px) / 2), -110px); */
                position: absolute;
        /* left: calc(100dvw / 2); */
        left: 0;
        top: 0%;
        transform: translate(40dvw, 360px);
    }

.logo {
    display: flex;
    justify-content: center;
    
}