.grid_container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 300px;
    grid-template-rows: 260px auto minmax(260px - auto) 85px;
    gap: 1em;
    grid-template-areas: 
    "img_box img_box img_box img_box"
    "menue_box menue_box menue_box basket"
    "img_box2 img_box2 img_box2 basket"
    "footer footer footer footer";
}

.box_item {
    background-color: var(--orange_5);
}

.img_cont {
    background-color: hsl(0, 0%, 5%);
}

.pick_up {
    display: flex;
    padding-top: 32px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 32px;
}


.btn_shp_cart {
    display: none;
    z-index: 9999;
}

.grid_container.inactive {
    display: none;
}

@media (max-width: 650px) { 
    .logo_luigi_img {
        max-height: 120px;
        border-radius: 50%;
        z-index: 9999;
        /* transform: translate(calc((50dvw - 460px) / 2), -110px); */
        position: absolute;
        /* left: calc(100dvw / 2); */
        left: calc(100dvw - 100%);
        top: -65px;
        /* transform: translate(20dvw, 360px); */
    }

}

/* for-tablet-landscape-up */
@media (max-width: 900px) { 
    .grid_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 64px;
        gap: 1em;
        grid-template-areas: 
        "img_box"
        "menue_box"
        "img_box2"
        "footer";
    }
    .basket {
        display: none;
    }
    .off_screen_menu {
        width: 260px;
        height: calc(100dvh - 160px);
    }
    .btn_shp_cart {
        position: fixed;
        background-color: hsl(0, 0%, 5%);
        width: 100%;
        top: calc(100dvh - 80px);
        display: flex;
        justify-content: center;
        cursor: pointer;
        z-index: 9999;
    }

    .menu_card {
        margin-bottom: 32px;
    }
    .basket_wrapper {
        display: none;
    }
    .shop_cart {
        z-index: 1;
    }
    .shop_cart_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .shop_cart_entry p {
        padding: 0 16px;
        
    }
    .shop_cart_entry {
        padding-bottom: 16px;
    }
    .shop_cart_menu {
        padding-left: 16px;
        padding-right: 16px;

    }

    .shop_cart_menu h5 {
        padding-bottom: 8px;
    }
    .costs_to_pay {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 32px;
    }
    .pick_up {
        padding-bottom: 36px;
        padding-left: 16px;
    }
    .pick_up h4 {
        font-size: 18px;
        padding-right: 8px;
        max-width: 250px;
    }

    #shopping_cart {
            display: flex;
            flex-direction: column-reverse;

    }

    .switch {
    width: 44px;
    }

}

@media (max-width: 480px) {
    #menues td {
        font-size: 16px;
    }
    .shop_cart_entry p {
        font-size: 16px;
        padding: 0 8px;
    }
}
