.img_cont {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img_cont img {
    height: -webkit-fill-available;
}

.resp_img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    max-height: 360px;
}

.footer_img {
    max-height: 60px;
}

.logo_luigi_img {
    max-height: 160px;
    border-radius: 50%;
    z-index: 90;
    position: absolute;
    left: 0;
    top: 0%;
    transform: translate(40dvw, 360px);
}

.logo {
    display: flex;
    justify-content: center;
    
}

@media (max-width: 900px) { 
    .logo_luigi_img {
        height: 100px;
        top: -340px;
        display: none;
    }
}

@media (max-width: 900px) { 
    .logo_luigi_img {
        height: 80px;
        top: -140px;
        display: none;
    }
}
