.img_cont {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img_cont img {
    height: -webkit-fill-available;
}

.resp_img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    max-height: 360px;
}

.footer_img {
    max-height: 60px;
}

.logo_luigi_img {
    max-height: 160px;
    border-radius: 50%;
    z-index: 90;
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%, -50%);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo_luigi_small_img {
    display: none;
}

@media (max-width: 900px) { 
    .logo_luigi_img {
        height: 100px;
        top: -340px;
        display: none;
    }
    .logo_luigi_small_img {
        height: 100px;
        display: flex;
        border-radius: 50%;
        margin-left: 16px;
    }
    
}

