.grid_container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 300px;
    grid-template-rows: 260px auto 260px 85px;
    gap: 1em;
    grid-template-areas: 
    "img_box img_box img_box cart"
    "menue_box menue_box menue_box cart"
    "img_box2 img_box2 img_box2 cart"
    "footer footer footer footer";
}

.box_item {
    background-color: var(--orange_5);
}

.img_cont {
    background-color: hsl(0, 0%, 5%);
}

.pick_up {
    display: flex;
    padding-top: 32px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 32px;
}

.btn_shp_cart {
    display: none;
}

/* for-tablet-landscape-up */
@media (max-width: 900px) { 
    .grid_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto auto auto 64px;
        gap: 1em;
        grid-template-areas: 
        "head_box"
        "img_box"
        "menue_box"
        "img_box2"
        "footer";
    }
    .shop_cart {
        display: none;
    }
    .off_screen_menu {
        width: 260px;
        height: calc(100dvh - 160px);
    }
    .btn_shp_cart {
        position: fixed;
        background-color: hsl(0, 0%, 5%);
        width: 100%;
        top: calc(100dvh - 160px);
        display: flex;
        justify-content: center;
        cursor: pointer;
        z-index: 10;
    }

    .menu_card {
        margin-bottom: 32px;
    }
    .shop_cart {
        z-index: 1;
    }
    .shop_cart_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .shop_cart_entry p {
        padding: 0 16px;
        
    }
    .shop_cart_entry {
        padding-bottom: 16px;
    }
    .shop_cart_menu {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 32px;
    }

    .shop_cart_menu h5 {
        padding-bottom: 8px;
    }
    .costs_to_pay {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 32px;
    }
    .pick_up {
        padding-bottom: 36px;
        padding-left: 16px;
    }
    .pick_up h4 {
        font-size: 18px;
        padding-right: 8px;
        max-width: 250px;
    }

}

@media (max-width: 480px) {
    #menues td {
        font-size: 16px;
    }
    .shop_cart_entry p {
        font-size: 16px;
        padding: 0 8px;
    }
}
