.img_cont {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img_cont img {
    height: -webkit-fill-available;
}

.resp_img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    max-height: 360px;
}

.footer_img {
    max-height: 60px;
}