:root {
    --orange_main: hsl(29, 92%, 47%);
    --orange_1: #ff6200;
    --orange_2: #fd7f2c;
    --orange_3: #fd9346;
    --orange_4: #fda766;
    --orange_5: #fdb777;

}

html {
    color: var(--ham_text_color);
}

body {
    min-height: 100dvh;
    background-color: var(--prim_ham_color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 200;
    
}

main {
    padding: min(5em, 7%);
}

main p {
    margin-top: .35em;
}


.logo_img {
    max-height: 60px;
    margin: 16px 16px;
}

.d_flex {
    display: flex;

}

.impr_container {
    max-width: 2840px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 85px;
    gap: 1em;
    grid-template-areas: 
    "head_box"
    "impr_box"
    "footer";
}

.sticky_cart {
  position: sticky;
  top: 0;
  left: 0;
  margin-right: 16px;
  /* align-self: start; */
}



