.menu_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px;
    color: black;
    z-index: 10;
}

.menue {
    padding-bottom: 16px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menue p {
    font-size: 16px;
}

.shop_cart {
    margin-right: 8px;
}

.menu_card h2 {
    padding-top: 64px;
    font-size: 32px;
}

.menue h3 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
}

.menue h5 {
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 12px;
    padding-top: 4px;
}

.menue td {
    padding-right: 16px;
    font-size: 20px;
    font-weight: 400;
}

.shop_cart_entry {
    display: flex;
    justify-content: space-between;
}

.shop_cart_menu h4 {
    padding-bottom: 8px;
    padding-top: 16px;
}

.shop_cart_menu h5 {
    padding-bottom: 8px;
}

.shop_cart_menu {
    padding-bottom: 32px;
}

.costs_to_pay {
    padding-bottom: 16px;
    padding-top: 16px;
    position: sticky;
    top: 0;
    background-color: hsl(0, 0%, 10%);
    
}

.costs_to_pay table {
    table-layout: fixed;
    width: 100%;
    max-width: 300px;
    padding-bottom: 16px;
}

.table_amount {
    text-align: right;
    width: 100%;
}

.table_sum_row {
    font-weight: 600;
}

.order_icons_mid_size {
    height: 30px;
    padding-top: 8px;
    cursor: pointer;
}

.order_icons_small_size {
    cursor: pointer;
    height: 24px;
}

.box_item.inactive {
    opacity: 0.2;
}

.menu_card.inactive {
    opacity: 0.2;
}

.footer.active {
    z-index: 10;
}

.btn_basket {
    height: 80px;
    padding: 16px 0;
}

.resp_shop_cart {
    background-color: hsl(0, 0%, 10%);
    width: 100%;
    position: fixed;
    top: +100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    transition: 150ms ease;
    z-index: 1;

}

.resp_shop_cart.active {
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    position: relative;
    min-height: 100dvh;
    margin-bottom: 64px;
    /* overflow-y: scroll; */
}

.order_icons_mid_size:hover {
    fill: var(--orange_1);
}

.order_btn {
    height: 34px;
    width: 100%;
    border-radius: 34px;
    background-color: var(--orange_5);
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
}


